<% if @repair_booking.valid? %>
  new Noty({
    text: 'Заявка на бронирование успешно подана',
    type: 'success'
  }).show();
  var modal = $('.modal');
  modal.find('input[type="text"], textarea').val('');
  modal.modal('hide');
<% else %>
  new Noty({
    text: 'Ошибка подачи заявки',
    type: 'warning'
  }).show();
<% end %>
