<% if @repair_request.valid? %>
  new Noty({
    text: 'Заявка успешно создана',
    type: 'success'
  }).show();
  $('#section1 input[type="text"]').val('');
  var modal = $('.modal');
  modal.find('input[type="text"], textarea').val('');
  modal.modal('hide');
<% else %>
  new Noty({
    text: 'Ошибка создания заявки',
    type: 'warning'
  }).show();
<% end %>
