<div class="modal fade" id="bookRepairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel"><b>Забронировать ремонт</b></h3>
      </div>
      <div class="modal-body">
        <%= form_tag repair_bookings_path, remote: true do %>
          <div class="row">
            <div class="col-sm-6">
              <%= text_field_tag :user_name, nil, placeholder: 'Ваше имя', class: 'custom-input bordered margin-b-30' %>
            </div>
            <div class="col-sm-6">
              <%= text_field_tag :phone, nil, placeholder: 'Контактный телефон', class: 'custom-input bordered margin-b-30' %>
            </div>
            <div class="col-sm-12">
              <%= text_area_tag :description, nil, placeholder: 'Я хочу забронировать ремонт...', class: 'custom-input bordered margin-b-30' %>
              <div class="text-center">
                <%= submit_tag 'Отправить', class: 'btn btn-primary padding-h-50' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
