<script type="text/javascript">

  var map, infowindow, bounds, image_marker, markerCluster, drawingManager, selectedShape;
  var kyivCoords = {lat: 50.448506, lng: 30.555323}
  var markers = [];
  var contentWindows = [];

  mcOptions = {styles: [
    {
      height: 53,
      url: "https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m1.png",
      width: 53
    },
    {
      height: 56,
      url: "https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m2.png",
      width: 56
    },
    {
      height: 66,
      url: "https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m3.png",
      width: 66
    },
    {
      height: 78,
      url: "https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m4.png",
      width: 78
    },
    {
      height: 90,
      url: "https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m5.png",
      width: 90
    }
  ]}

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      scrollwheel: false
    });
    infowindow = new google.maps.InfoWindow();
    markerCluster = new MarkerClusterer(map, null, mcOptions);
    masters = JSON.parse('<%= j @masters.to_json.html_safe %>');

    for(i = 0; i < masters.length; i++) {
      addMarker(masters[i]);
    }
    showMarkers();
  }

  function addMarker(master) {
    new google.maps.Circle({
      strokeColor: '#000000',
      strokeOpacity: 0.3,
      strokeWeight: 1,
      fillColor: master.radius_color,
      fillOpacity: 0.1,
      map: map,
      center: {lat: master.lat, lng: master.lng},
      radius: 200
    });
    if (master.marker_img && master.marker_img.length > 1) {
      var markerImg = master.marker_img
    } else {
      var markerImg = 'https://s3.eu-central-1.amazonaws.com/imolodca-dev/static/repair-marker.png';
    }
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(master.lat), lng: parseFloat(master.lng)},
      icon: {
        url: markerImg,
        size: new google.maps.Size(25, 25),
      },
      animation: google.maps.Animation.DROP,
      title: master.name
    });
    marker.addListener('click', function() {
      var stars = ""
      for (i = 1; i<=master.rating; i++) { stars += '<%= image_tag 'star.png' %>' }
      content = '<div class="user-content-window">'+
        '<div class="row">'+
        '<div class="col-xs-4 text-center margin-t-40 user-img"><img src="'+master.image.url+'"></img></div>'+
        '<div class="col-xs-8"><h4><b>' + master.name + '</b></h4>' +
        '<div class="stars">'+
        stars +
        '</div>' +
        'Опыт: '+master.experience + '<br><br>' +
        'Информация: '+master.repairs_done + '<br><br>' +
        '<input type="submit" value="Выбрать мастера" data-toggle="modal" data-target="#bookRepairModal"'+
        'class="btn btn-primary btn-sm margin-t-20" style="width: 100%;" data-master="'+master.name+'('+master.id+')">'+
        '</div></div></div>'
      infowindow.setContent(content);
      infowindow.open(map, marker);
    });
    markers.push(marker);
  }

  function drop(i, markerCluster) {
    setTimeout(function(){
      markerCluster.addMarker(markers[i]);
    }, 200);
  }

  function setMapOnAll(map) {
    bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; i++) {

      if (map) {
        drop(i, markerCluster);
        bounds.extend(markers[i].position);
      } else {
        markers[i].setMap(map);
        markerCluster.clearMarkers();
      }
    }
    if (map) {
      map.setCenter(bounds.getCenter());
      if (markers.length === 1) {
        map.setZoom(15);
      } else {
        map.fitBounds(bounds);
      }
    }
  }

  function setKiyv(map) {
    map.setZoom(11);
    map.setCenter(kyivCoords);
  }

  function clearMarkers() {
    setMapOnAll(null);
  }

  function prepareWindows() {

  }

  function showMarkers() {
    if (markers.length > 0) {
      setMapOnAll(map);
    } else {
      setKiyv(map)
    }
  }

  function deleteMarkers() {
    clearMarkers();
    markers = [];
  }

</script>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAErTW2pEvDgart3OfTMeOWF9GFbMQ1dUA&libraries=drawing&callback=initMap">
</script>
