<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'imolodca_logo-01.png' %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <table><tbody>
              <tr><td><%= @phone_numbers[1] %></td></tr>
              <tr>
                <td><%= @phone_numbers[0] %></td>
                <td><%= image_tag 'viber.png' %></td>
                <td><%= image_tag 'telegram.png' %></td>
                <td><%= image_tag 'whatsapp.png' %></td>
              </tr>
              <tr><td><%= @phone_numbers[2] %></td></tr>
            </tbody></table>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-sm">
          <li><a href="#section2" data-turbolinks="false">Цены</a></li>
          <li><a href="#section6" data-turbolinks="false">Партнерство</a></li>
          <li><a href="#section3" data-turbolinks="false">Схема работы</a></li>
          <li><a href="#section7" data-turbolinks="false">Клиенты</a></li>
          <li><a href="#section9" data-turbolinks="false">О нас</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
