<div class="modal fade" id="partnershipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel"><b>Партнёрство</b></h3>
      </div>
      <div class="modal-body">
        <p class="text-center">Мы — универсальная платформа открытая к равноправному<br>и взаимовыгодному партнерству.</p>

        <p class="text-justify">
          Мы предлагаем широкий спектр услуг по продвижению мастерови поиску потенциальных клиентов, ориентированных на качественный ремонт своих гаджетов в сжатые сроки для экономии времени и денег.
        </p>

        <p class="text-justify">
          С помощью нашей платформы у Вас появится возможность получения дополнительного доступа к корпоративным и VIP клиентам не прилагаяк этому особых усилий и финансовых затрат.
        </p>

        <p class="text-justify">
          Партнерство с нами позволит Вам дополнительно экономить средствана рекламу в интернете и даст возможность получить информацию о Вас потенциальным клиентам.
        </p>

        <p class="text-justify">
          Основными критериями необходимыми для партнерства с нами являются:<br>
          ● стаж работы в этой сфере не менее 3-х лет;<br>
          ● наличие специальных навыков по работе со сложными устройствами;<br>
          ● аккуратность в работе и материальная ответственность за произведенный ремонт;<br>
          ● сохранение и нераспространение конфиденциальных данных клиента;<br>
          ● коммуникабельность и умение идти на компромиссы клиенты.
        </p>

        <p class="text-justify">
          Также мы предлагаем наше партнерство субъектам хозяйственной деятельности, основной сферой деятельности которых являет продажа различных гаджетов и продажей аксессуаров к ним.
        </p>

        <p class="text-justify">
          При желание таких субъектов хоз.деятельности мы можем организовать на их территории пункт приема гаджетов на диагностику и ремонт.
        </p>

        <p class="text-justify">
          Это позволит привлечь на вашу территорию дополнительных клиентов, увеличить финансовые обороты и узнаваемость точки через целевую рекламу в интернете.
        </p>

        <p class="text-justify">
          Основными критериями для партнерства с нами являются:<br>
          наличие разрешительной документации для осуществления предпринимательской деятельности;<br>
          материальная ответственность перед клиентом за сданный в ремонт гаджетов.
        </p>

        <div class="text-center">
          <%= form_tag become_a_partner_path, remote: true do %>
            <div class="row">
              <div class="col-sm-12">
                <%= text_field_tag :name, nil, placeholder: 'Ваше имя', class: 'custom-input margin-b-10' %>
              </div>
              <div class="col-sm-12">
                <%= text_field_tag :contact, nil, placeholder: 'Email или телефон', class: 'custom-input margin-b-10' %>
              </div>
              <div class="col-sm-12">
                <input type="submit" value="Стать партнером" class="btn btn-primary padding-h-10"><br>
              </div>
            </div>
          <% end %>
          <h4>Подробности по тел.: <b><%= @phone_numbers[0] %></b></h4>
        </div>

      </div>
    </div>
  </div>
</div>
