<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel"><b>Я хочу быть в курсе<br> всех акций и предложений</b></h3>
      </div>
      <div class="modal-body">
        <%= form_tag subscriptions_path, remote: true do %>
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <%= text_field_tag :name, nil, placeholder: 'Ваше имя', class: 'custom-input bordered margin-b-30' %>
                </div>
                <div class="col-sm-12">
                  <%= text_field_tag :email, nil, placeholder: 'Ваш email', class: 'custom-input bordered margin-b-30' %>
                </div>
                <div class="col-sm-12">
                  <%= submit_tag 'Подписаться', class: 'btn btn-primary padding-h-50', style: 'width: 100%' %>
                </div>
              </div>
            </div>
            <div class="col-sm-4 text-center padding padding-t-30">
              <%= link_to image_tag('instagram.png', class: 'margin-b-10'), '#' %><br>
              <%= link_to image_tag('facebook-logo.png', class: 'margin-b-10'), 'https://www.facebook.com/Imolodca-ServiceHub-1418908538200871/', target: '_blank' %><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
