<div class="modal fade" id="userGadgetRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel"><b>Условия для размещения гаджета<br> у нас на сайте</b></h3>
      </div>
      <div class="modal-body">
        <%= form_tag user_gadget_requests_path, remote: true do %>
          <div class="row">
            <div class="col-sm-6 text-center">
              <h4>Необходимость подтверждения легальности приобретения гаджета</h4>
            </div>
            <div class="col-sm-6 text-center">
              <h4>Необходимость подтверждения работоспособности гаджета</h4>
            </div>
            <div class="col-sm-10 col-sm-offset-1 margin-t-30">
              <%= text_field_tag :phone, nil, placeholder: 'Контактный телефон', class: 'custom-input bordered margin-b-30' %>
            </div>
            <div class="col-sm-12">
              <div class="text-center">
                <%= submit_tag 'Разместить гаджет', class: 'btn btn-primary padding-h-50 margin-b-20' %><br>
                <h4>Подробности по тел.: <b>066 123 45 67</b></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
