<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="8000" data-pause="null">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner margin-t-90" role="listbox">
    <div class="item item0 active" style="background-image: url('<%= asset_path("1.png") %>')">
      <div class="carousel-content">
        <h1 class="text-center"><b>Выездной ремонт<br>Ваших iPhone/iPad и других гаджетов</b></h1>
        <h2 class="text-center margin-t-30">Мы приедем в удобное для Вас время и место <br>и оперативно проведем ремонт в Вашем присутствии</h2>
        <div class="container margin-t-30">
          <%= form_tag repair_requests_path, remote: true do %>
            <div class="row">
              <div class="col-sm-6 text-right margin-t-20">
                <%= text_field_tag :user_name, nil, placeholder: 'Ваше имя', class: 'custom-input' %>
              </div>
              <div class="col-sm-6 text-left margin-t-20">
                <%= text_field_tag :phone, nil, placeholder: 'Контактный телефон', class: 'custom-input' %>
              </div>
              <div class="col-sm-12 text-center margin-t-20">
                <%= submit_tag 'Получить консультацию', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center margin-t-50 margin-b-50">
          <%= image_tag 'scooter.png', class: 'scooter' %>
          <h4>Бесплатный выезд мастера</h4>
        </div>
      </div>
    </div>
    <div class="item item1" style="background-image: url('<%= asset_path("bg-gallery-8-1.jpg") %>')">
      <div class="carousel-content">
        <h1 class="text-center"><b>Опция "Вкусный ремонт"</b></h1>
        <h2 class="text-center margin-t-10">Теперь ремонт может быть не только нужным, но и <b>вкусным</b>!</h2>
        <div class="restaurants-placeholder"></div>
        <div class="container restaurants-container">
          <%= render 'restaurants_list' %>
        </div>
        <h2 class="text-center margin-t-50">Только для наших клиентов аппетитная пицца,<br>сытные хачапури, сочный бифштекс и многое другое</h2>
        <h1 class="margin-t-10 margin-b-40 text-center"><b>с 15% скидкой от ресторанов</b></h1>
      </div>
    </div>
  </div>
</div>
