<div class="carousel-inner">
  <div id="owl-carousel-one" class="owl-carousel owl-theme">
    <div class="item item-one" style="background-image: url('<%= asset_path("1.png") %>')">
      <div class="fle-child-0 text-center"><b>Выездной ремонт<br>Ваших iPhone/iPad и других гаджетов</b></div>
      <div class="fle-child-1 text-center">Мы приедем в удобное для Вас время и место <br>и оперативно проведем ремонт в Вашем присутствии</div>
      <div class="fle-child-2">
        <%= form_tag repair_requests_path, remote: true do %>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-4 margin-t-20">
              <%= text_field_tag :user_name, nil, placeholder: 'Ваше имя', class: 'custom-input' %>
            </div>
            <div class="col-sm-4 margin-t-20">
              <%= text_field_tag :phone, nil, placeholder: 'Контактный телефон', class: 'custom-input' %>
            </div>
            <div class="col-sm-12 text-center margin-t-20">
              <%= submit_tag 'Получить консультацию', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="fle-child-3 text-center">
        <div class="row">
          <div class="col-sm-3">
            <span class="glyphicon glyphicon-gift"></span>
            <h4>Бесплатный выезд мастера</h4>
          </div>
          <div class="col-sm-3">
            <span class="glyphicon glyphicon-star"></span>
            <h4>Квалифицированные мастера</h4>
          </div>
          <div class="col-sm-3">
            <span class="glyphicon glyphicon-fire"></span>
            <h4>Детали лучшего качества</h4>
          </div>
          <div class="col-sm-3">
            <span class="glyphicon glyphicon-wrench"></span>
            <h4>Ремонт любой сложности</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="item item-two" style="background-image: url('<%= asset_path("bg-gallery-8-1.jpg") %>')">
      <div class="fle-child-0 text-center"><b>Опция "Вкусный ремонт"</b></div>
      <div class="fle-child-1 text-center">Теперь ремонт может быть не только нужным, но и <b>вкусным</b>!</div>
      <div class="fle-child-2 restaurants-container">
        <%= render 'restaurants_list' %>
      </div>
      <div class="fle-child-3 text-center">Только для наших клиентов аппетитная пицца,<br>сытные хачапури, сочный бифштекс и многое другое</div>
      <div class="fle-child-4 text-center">с 15% скидкой от ресторанов</div>
    </div>
  </div>
  </div>
</div>
