<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center our-partners visible-xs-block">
      <b>Наши партнеры</b>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-6 col-xs-6 text-center restaurant">
          <%= link_to 'http://georgianhouse.com.ua/', target: '_blank' do %>
            <%= image_tag 'georgianhouse-logo.png' %>
            <div class="restaurant-name hidden-xs">
              <b>Georgian house</b><br>
              ул. Б. Васильковская 36
            </div>
          <% end %>
        </div>
        <div class="col-sm-6 col-xs-6 text-center restaurant">
          <%= link_to 'http://www.pizza-celentano.kiev.ua/', target: '_blank' do %>
            <%= image_tag 'celentano.png' %>
            <div class="restaurant-name hidden-xs">
              <b>Celentano Ristorante</b><br>
              ул. Б. Васильковская 63A
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-2 text-center our-partners hidden-xs">
      <b>Наши партнеры</b>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-6 col-xs-6 text-center restaurant">
          <%= link_to 'http://ukcafe.com.ua/', target: '_blank' do %>
            <%= image_tag 'ukcafe-logo.png' %>
            <div class="restaurant-name hidden-xs">
              <b>UK cafe</b><br>
              Бульвар Дружбы народов 28
            </div>
          <% end %>
        </div>
        <div class="col-sm-6 col-xs-6 text-center restaurant">
          <%= link_to 'https://vk.com/underground.cafe', target: '_blank' do %>
            <%= image_tag 'underground-logo.png' %>
            <div class="restaurant-name hidden-xs">
              <b>Underground coffee</b><br>
              ул. Воссоединения 7Б
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-12 text-center partners-offer hidden-xs">
      предлагают Вам отведать блюда итальянской, грузинской, английской кухни по доступным ценам с <b>максимальной выгодой</b> для Вас!
    </div>
  </div>
</div>
