<section id="section1">
  <%= render 'carousel_owl' %>
</section>

<section id="section2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center"><b>Что у Вас сломалось?</b></h1>
        <h4 class="text-center">Цены указаны с учетом проведения работ в сервисном центре (деталь + работа + выезд).</h4>

        <div class="text-center margin-t-40 first-level">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <% @gadgets.each_with_index do |gadget, index| %>
              <%= content_tag :li, class: index == 0 ? 'active' : '' do %>
                <%= link_to gadget.name, "##{gadget.canonical_name}", role: 'tab', data: { toggle: 'tab' } %>
              <% end %>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <% @gadgets.each_with_index do |gadget, index| %>
              <div role="tabpanel" class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= gadget.canonical_name %>">
                <div class="text-center margin-t-20 second-level">
                  <hr>
                  <ul class="nav nav-tabs" role="tablist">
                    <% gadget.gadget_models.each_with_index do |gadget_model, index| %>
                      <li role="presentation" class="<%= index == 0 ? 'active' : '' %>">
                        <%= link_to gadget_model.name, "##{gadget_model.name.parameterize}-gadget", role: 'tab', data: { toggle: 'tab' } %>
                      </li>
                    <% end %>
                  </ul>
                  <hr class="margin-b-0">
                  <div class="tab-content">
                    <% gadget.gadget_models.each_with_index do |gadget_model, index| %>
                      <div role="tabpanel" class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= gadget_model.name.parameterize %>-gadget">
                        <div class="row">
                          <div class="col-sm-12 hidden-sm hidden-md hidden-lg">
                            <table class="table">
                              <tbody>
                                <% gadget_model.repair_costs.each do |repair_cost| %>
                                  <tr>
                                    <td><%= repair_cost.name %></td>
                                    <td><%= price_with_type(repair_cost) %> ₴</td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-sm-6 no-padding-right hidden-xs">
                            <table class="table border-right">
                              <tbody>
                                <% gadget_model.repair_costs.each_with_index do |repair_cost, index| %>
                                  <% if index.even? %>
                                    <tr>
                                      <td><%= repair_cost.name %></td>
                                      <td><%= price_with_type(repair_cost) %> ₴</td>
                                    </tr>
                                  <% end %>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-sm-6 no-padding-left hidden-xs">
                            <table class="table">
                              <tbody>
                                <% gadget_model.repair_costs.each_with_index do |repair_cost, index| %>
                                  <% if index.odd? %>
                                    <tr>
                                      <td><%= repair_cost.name %></td>
                                      <td><%= price_with_type(repair_cost) %> ₴</td>
                                    </tr>
                                  <% end %>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <h3 class="text-center semibold">Не нашли проблему в списке?<br>Мы Вам поможем</h3>
      </div>
      <div class="col-sm-6 text-center">
        <input type="submit" value="Заказать звонок" data-toggle="modal" data-target="#callMasterModal"
        class="btn btn-primary margin-t-20" >
      </div>
    </div>
  </div>
</section>

<section id="section3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center"><b>Как устроена наша работа?</b></h1>
        <h3 class="text-center" style="font-size: 30px;">
          <b>Выберите мастера из удобной Вам локации</b>
          <br><b>или звоните <%= @phone_numbers.join(', ') %></b>
        </h3>
      </div>
    </div>
  </div>
  <div id="map-wrapper" class="margin-t-30">
    <div id="map"></div>
  </div>
  <div class="container">
    <div class="row margin-t-40">
      <div class="col-sm-6 text-center">
        <h3><b>Мы открыты к партнерству</h3>
      </div>
      <div class="col-sm-6">
        <input type="submit" value="Партнерство" data-toggle="modal" data-target="#partnershipModal"
         class="btn btn-primary margin-t-10" >
      </div>
    </div>
  </div>
</section>

<section id="section4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center"><b>Акции</b></h1>
      </div>
      <div class="col-sm-8">
        <div class="yellow-container margin-t-50">
          <span class="brand-text"><%= @promo.name.html_safe %></span>
        </div>

        <div class="timer-container margin-t-40">
          <div class="timer-inner">
            <span class="text">До конца акции осталось:</span><br>
            <span id="timer"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <%= image_tag @promo.image.url %>
      </div>
      <div class="col-sm-12 margin-t-20">
        <h2 class="text-center semibold">Чтобы не пропускать наши специальные предложения Вы можете</h2>
        <div class="text-center">
          <input type="submit" value="Подписаться" data-toggle="modal" data-target="#subscribeModal"
          class="btn btn-primary margin-t-20" >
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section5">
  <%= image_tag 'ico1.png', class: 'topleft hidden-xs' %>
  <%= image_tag 'ico1.png', class: 'topright hidden-xs' %>
  <%= image_tag 'ico1.png', class: 'bottomleft hidden-xs' %>
  <%= image_tag 'ico1.png', class: 'bottomright hidden-xs' %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center"><b>Наши преимущества — <br>в отсутствии недостатков</b></h1>

        <table class="table advatages">
          <tbody>
            <tr>
              <td><%= image_tag 'icon-1.png' %></td>
              <td>Возможность выбора удобного Вам мастера</td>
            </tr>
            <tr>
              <td><%= image_tag '2.png' %></td>
              <td>Выполнение работ любой сложности с бесплатной <br>диагностикой Вашего устройства</td>
            </tr>
            <tr>
              <td><%= image_tag '3.png' %></td>
              <td>Используем качественных запчастей с гарантией до 6-ти месяцев</td>
            </tr>
            <tr>
              <td><%= image_tag '4.png' %></td>
              <td>100% гарантия конфиденциальности Ваших персональных данных</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 text-center">
        <input type="submit" value="Забронировать ремонт" data-toggle="modal" data-target="#bookRepairModal"
        class="btn btn-primary margin-t-20" >
      </div>
      <div class="col-sm-6">
        <div class="booking margin-t-10">
          Только у нас,<br>
          бронируя наперёд ремонт,<br>
          Вы получите скидку 10%
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section6">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center"><b>Зарабатываем вместе</b></h1>
      </div>
      <div class="col-sm-6 text-center margin-t-40">
        <%= image_tag 'handshake.png', class: 'static-img' %>
        <div class="text-center margin-t-20 static-text">
          Заведите компанию<br>
          на обслуживание гаджетов<br>
          и получайте свой процент регулярно.
        </div>
      </div>
      <div class="col-sm-6 text-center margin-t-40">
        <%= image_tag 'savings.png', class: 'static-img' %>
        <div class="text-center margin-t-20 static-text">
          Приведите клиента<br>
          и получите 7%<br>
          от нaшего заработка
        </div>
      </div>
      <div class="col-sm-12">
        <h1 class="text-center margin-t-50"><b>Наши клиенты продают</b></h1>
        <h3 class="text-center semibold">мы подтверждаем качество!</h3>

        <div class="margin-t-50 padding-h-50">
          <div id="owl-carousel1" class="owl-carousel owl-theme">
            <% @user_gadgets.each do |ug| %>
              <div class="item">
                <%= content_tag :div, class: "links" do %>
                  <% ug.images.each_with_index do |image, index| %>
                    <%= link_to image_tag(image.url), image.url, title: ug.name, style: "#{index == 0 ? '' : 'display: none;'}" %>
                  <% end %>
                <% end %>
                <h3 class="text-center"><%= ug.name %></h3>
                <h4><%= ug.description %></h4>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <input type="submit" value="Хочу продать свой гаджет" data-toggle="modal" data-target="#userGadgetRequestModal"
         class="btn btn-primary margin-t-20">
      </div>
      <div class="col-sm-6 text-center">
        <input type="submit" value="Подписаться" data-toggle="modal" data-target="#subscribeModal"
         class="btn btn-primary margin-t-20">
      </div>
    </div>
  </div>
</section>

<section id="section7">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 margin-b-20">
        <h1 class="text-center"><b>Наши клиенты — наша гордость</b></h1>
      </div>
      <% @clients_ppl.each do |client_ppl| %>
        <div class="col-sm-4 our-clients-container text-center margin-t-40">
          <%= image_tag client_ppl.image.url %>
          <span class="name"><%= client_ppl.name %></span>
          <span class="prof"><%= client_ppl.profession %></span>
        </div>
      <% end %>
      <div class="col-sm-12">
        <div class="margin-t-50">
          <div id="owl-carousel2" class="owl-carousel owl-theme">
            <% @clients_cmp.each do |client_cmp| %>
              <div class="item"><%= image_tag client_cmp.image.url %></div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section id="section8">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 margin-b-20">
        <h1 class="text-center"><b>Оставьте отзыв</b></h1>
        <h3 class="text-center semibold">Пишите нам в соцсетях или на почту info@imolodca.ua</h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="owl-carousel3" class="owl-carousel owl-theme">
          <% @feedbacks.each do |feedback| %>
            <div class="item">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="feedback-photo-container" rowspan="2">
                      <%= image_tag feedback.image.url, class: 'feedback-photo' %>
                    </td>
                    <td>
                      <div class="feedback-text margin-t-10">
                        <%= feedback.comment %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="feedback-name margin-t-10">
                        <%= feedback.name %>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section9">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 margin-b-20">
        <h1 class="text-center"><b>О нас</b></h1>
      </div>
      <div class="col-sm-offset-1 col-sm-10 about text-center">
        <b>#аймолодца serviceHub</b> — первая в Украине универсальная платформа в сфере обслуживания
        и ремонта гаджетов. Нам удалось объеденить квалифицированных мастеров
        и разместить их по принципу териториальных локаций, это дало возможность
        проводить оперативно диагностику и ремонт гаджетов в удобном для клиента
        времени и места, что позволит сэкономить ему время и деньги.
        Помимо того, что наши мастера являются квалифицированными специалистами
        с большим опытом работы, они еще являются активными пользователями
        соц. сетей, ведут свои блоги, повышают свою специализацию путём обмена
        технической информацией
      </div>
      <div class="col-sm-offset-1 col-sm-10 text-center">
        <h2 class="text-center margin-t-40"><b>Вдохновители проекта</b></h2>
        <div class="row margin-t-30">
          <div class="col-sm-6 text-center">
            <%= link_to 'https://www.facebook.com/yuriy.shurigin.359', target: '_blank' do %>
              <%= image_tag 'https://s3.eu-central-1.amazonaws.com/imolodca/static/ceo1.jpg', class: 'ceo-photo' %>
              <h3>Юрий</h3>
            <% end %>
          </div>
          <div class="col-sm-6 text-center">
            <%= link_to 'https://www.facebook.com/profile.php?id=100004200935765', target: '_blank' do %>
              <%= image_tag 'https://s3.eu-central-1.amazonaws.com/imolodca/static/ceo2.jpg', class: 'ceo-photo' %>
              <h3>Данил</h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center margin-t-20">
        <input type="submit" value="Партнерство" data-toggle="modal" data-target="#partnershipModal"
         class="btn btn-primary margin-t-20" >
      </div>
    </div>
  </div>
</section>

<footer>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class="nav navbar-nav">
          <li>
            <table><tbody>
              <tr>
                <td class="semibold hidden-xs">Звоните/пишите:</td>
                <td class="semibold"><%= @phone_numbers[1] %></td>
              </tr>
              <tr>
                <td class="semibold hidden-xs">imolodca.service@gmail.com</td>
                <td class="semibold"><%= @phone_numbers[0] %></td>
                <td><%= image_tag 'viber.png' %></td>
                <td style="padding: 0"><%= image_tag 'telegram.png' %></td>
                <td style="padding: 0"><%= image_tag 'whatsapp.png' %></td>
              </tr>
              <tr>
                <td class="semibold hidden-xs">Киев, ул. Драгоманова 40г</td>
                <td class="semibold"><%= @phone_numbers[2] %></td>
              </tr>
            </tbody></table>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.instagram.com/explore/tags/%D0%B0%D0%B9%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D1%86%D0%B0/"><%= image_tag 'instagram.png' %></a></li>
          <li><a href="https://www.facebook.com/imolodcaServiceHub" target="_blank"><%= image_tag 'facebook-logo.png' %></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</footer>

<%= render 'shared/google_maps_script' %>
<%= render 'shared/book_repair_modal' %>
<%= render 'shared/subscribe_modal' %>
<%= render 'shared/call_master_modal' %>
<%= render 'shared/user_gadget_request_modal' %>
<%= render 'shared/partnership_modal' %>
<%= render 'shared/telegram_btn' %>
