<% if @subscription.valid? %>
  new Noty({
    text: 'Вы были успешно подписаны',
    type: 'success'
  }).show();
  var modal = $('.modal');
  modal.find('input[type="text"], textarea').val('');
  modal.modal('hide');
<% else %>
  new Noty({
    text: 'Ошибка подписки',
    type: 'warning'
  }).show();
<% end %>
