<% if @ugr.valid? %>
  new Noty({
    text: 'Заявка успешно создана. С ближайшее время с Вами свяжется наш сотрудник',
    type: 'success'
  }).show();
  var modal = $('.modal');
  modal.find('input[type="text"], textarea').val('');
  modal.modal('hide');
<% else %>
  new Noty({
    text: 'Ошибка создания заявки',
    type: 'warning'
  }).show();
<% end %>
