@font-face {
  font-family: "SegoeUI";
  src: url('SegoeUILight.ttf'),
    font-url('SegoeUILight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url('SegoeUIBold.ttf'),
    font-url('SegoeUIBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url('SegoeUISemiBold.ttf'),
    font-url('SegoeUISemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-40 {
  margin-top: 40px;
}

.margin-t-50 {
  margin-top: 50px;
}

.margin-t-90 {
  margin-top: 90px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-v-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-v-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-v-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-30 {
  padding-top: 30px;
}

.padding-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.semibold {
  font-weight: 600;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  border-radius: 30px;
  min-width: 340px;
  padding-right: 50px;
  padding-left: 50px;
}

.btn-sm {
  font-size: 14px !important;
  height: 35px !important;
  border-radius: 20px !important;
  min-width: 140px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.btn:hover, .btn:active, .btn:focus {
  border: solid 1px #fdc689;
  text-transform: none;
  text-decoration: none;
}

.btn-primary {
  color: #98287f;
  background-image: linear-gradient(to right, #ffda44, #fff88f);
  border: solid 1px #fdc689;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #98282f;
}

table.border-right {
  td {
    border-right: 1px solid #c2c2c2;
  }
}

.table td {
  border-color: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "SegoeUI", sans-serif;
  z-index: 0;
  overflow-x: hidden;
}

hr {
  border-color: #c2c2c2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dark-nav {
  background-color: rgba(0,0,0,.9) !important;
}

.navbar {
  min-height: 90px;
  margin-bottom: 0;
}

.navbar-toggle {
  margin-top: 30px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav td {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ccc;
}

header .navbar-default {
  background-color: rgba(0,0,0,.3);
}

.phones {
  display: flex;
  height: 90px;
  align-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  img {
    height: 25px;
    width: 25px;
  }
  & > div {
    margin: auto 3px;
  }
}

header .navbar table {
  display: inline-block;
  padding-top: 10px;
  margin-left: 30px;
}

header .navbar table td {
  font-weight: 600;
  font-size: 16px;
  padding-left: 5px;
}

.navbar table img {
  height: 25px;
}

.navbar-brand {
  height: 90px;
}

.navbar-nav > li > a {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 1.2em;
}

.navbar-brand img {
  height: 100%;
}

.brand-green-color {
  color: #00a98b !important;
}

.brand-purple-color {
  color: #983081 !important;
}

.carousel-content {
  color: #fff;
  padding: 30px;
}

.custom-input {
  color: #d3afcb;
  width: 100%;
  font-size: 18px;
  vertical-align: middle;
  padding: 16px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #ebebeb;

  &.bordered {
    border: 1px solid #d3afcb;
  }

  &::-webkit-input-placeholder {
    color: #d3afcb;
  }
  &::-moz-placeholder {
    color: #d3afcb;
  }
  &:-ms-input-placeholder {
    color: #d3afcb;
  }
  &:-moz-placeholder {
    color: #d3afcb;
  }
}

#telegram-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
  img {
    width: 55px;
    height: 55px;
    -webkit-transition: all .2s;
    transition: all .2s;
    &:hover {
      transform: scale(1.3);
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
}

#section1 {
  min-height: 800px;
  .carousel-inner{
    min-height: 800px;
    .item {
      min-height: 800px;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .item-one {
      .fle-child-0, .fle-child-1, .fle-child-2, .fle-child-3 {
        margin: auto 0;
      }
      .fle-child-0 {
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        line-height: 1.1em;
      }
      .fle-child-1 {
        font-size: 30px;
        color: #fff;
        line-height: 1.1em;
      }
      .fle-child-3 {
        color: #fff;
        font-weight: bold;
        line-height: 1.1em;
        span {
          font-size: 1.8em;
        }
      }
    }
    .item-two {
      .fle-child-0, .fle-child-1, .fle-child-2, .fle-child-3 {
        margin: auto 0;
      }
      .fle-child-0 {
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        line-height: 1.1em;
      }
      .fle-child-1 {
        font-size: 30px;
        color: #fff;
        line-height: 1.1em;
      }
      .fle-child-2 {
        background-color: #fff;
      }
      .fle-child-3 {
        font-size: 30px;
        color: #fff;
        line-height: 1.1em;
      }
      .fle-child-4 {
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        line-height: 1.1em;
      }
    }
    .item-one, .item-two {
      padding-top: 100px;
      padding-bottom: 30px;
    }
  }
}

#section1 h1, #section2 h1, #section3 h1, #section4 h1, #section5 h1, #section6 h1, #section7 h1, #section8 h1, #section9 h1 {
  font-size: 4em;
}

#section1 .carousel-inner .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 .carousel-inner .item .scooter {
  width: 82px;
  display: inline-block;
}

#section1  .carousel-indicators {
  bottom: 20px;
}

#section1  .carousel-indicators li {
  border-color: #fff88e;
  height: 15px;
  width: 15px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 10px;
}

#section1  .carousel-indicators li.active {
  background-color: #fff88e;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 10px;
}

#section1 .carousel-inner .item input[type="submit"] {
  font-weight: 600;
  color: #98287f;
  background-image: linear-gradient(to right, #ffda44, #fff88f);
  box-shadow: inset 0 0 92px 0 #ffdf53;
  border: solid 1px #fdc689;
}

#section1 .carousel-inner .item {
  background-image: linear-gradient(to right, rgba(125,66,151,.6), rgba(219, 36, 49, .6));
}

#section1 .carousel-inner .item {
  background-image: linear-gradient(to right, rgba(125,66,151,.6), rgba(219, 36, 49, .6));
}

#section2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#section2 ul.nav.nav-tabs {
  display: inline-block;
}

#section2 ul li {
  font-size: 22px;
}

#section2 .nav-tabs {
  border: none;
}

#section2 .first-level > .nav-tabs>li>a, #section2 .first-level > .nav-tabs>li>a:focus, #section2 .first-level > .nav-tabs>li>a:hover {
  border-color: #882171;
  min-width: 180px;
  color: #882171;
}

#section2 .first-level > .nav-tabs>li.active>a, #section2 .first-level > .nav-tabs>li.active>a:focus, #section2 .first-level > .nav-tabs>li.active>a:hover {
  border-color: #882171;
  background-color: #882171;
  color: #fff;
}

#section2 .first-level > .nav-tabs>li>a {
  border-radius: 0;
  margin-right: -1px;
}

#section2 .first-level > .nav-tabs>li:first-child>a {
  border-radius: 26px 0 0 26px;
}

#section2 .first-level > .nav-tabs>li:last-child>a {
  border-radius: 0 26px 26px 0;
}

#section2 .second-level > .nav-tabs>li>a, #section2 .second-level > .nav-tabs>li>a:focus, #section2 .second-level > .nav-tabs>li>a:hover {
  border: none;
  border-bottom: 3px solid #fff;
  color: #000;
}

#section2 .second-level > .nav-tabs>li.active>a, #section2 .second-level > .nav-tabs>li.active>a:focus, #section2 .second-level > .nav-tabs>li.active>a:hover {
  background-color: inherit;
  color: #00a88a;
  border-bottom: 3px solid #fff88e;
}

#section2 .second-level > .nav>li>a {
  padding-bottom: 2px;
}

#section2 .second-level {
  .nav-tabs > li {
    float: none;
    display: inline-block;
  }
}

#section2 .second-level > .nav>li>a:focus, #section2 .second-level > .nav>li>a:hover {
  background-color: inherit;
  border-bottom: 3px solid #fff88e;
}

#section2 .table td {
  font-size: 18px;
}

#section2 .table tr:first-child td {
  border-top: none;
}

#section2 .table tr:last-child td {
  border-bottom: 1px solid #c2c2c2;
}

#section2 .table td:last-child {
  font-weight: 600;
}

#section2 .no-padding-right table td:last-child {
  border-right: 1px solid #c2c2c2;
}

#section3 {
  padding-top: 10px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, #11da9a, #7d4397);
}

#section3 h1, #section3 h2, #section3 h3 {
  color: #fff;
}

#section3 .map-img {
  width: 100%;
}

#section4 {
  padding-top: 40px;
  padding-bottom: 50px;
}

#section4 img {
  width: 100%;
}

#section4 .yellow-container {
  display: inline-block;
  background-color: #fff88e;
  padding: 20px;
  width: 90%;
}

#section4 .brand-text {
  color: #860d6b;
  font-size: 40px;
}

#section4 .timer-container {
  display: inline-block;
  margin-left: 100px;
  padding: 3px;
  min-width: 330px;
  background-image: linear-gradient(to right, #11da9a, #8b398d 53%, #d92633);
}

#section4 .timer-container .timer-inner {
  background-color: #fff;
  padding: 15px 20px;
}

#section4 .timer-container .text {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

#section4 .timer-container #timer {
  color: #000;
  font-weight: bold;
  font-size: 70px;
}

#section5 {
  position: relative;
  z-index: 5;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, #7d4397, #db2431 99%);
}

#section5 .topleft {
  position: absolute;
  z-index: 10;
  left: 30px;
  top: 30px;
  width: 40px;
}

#section5 .topright {
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 30px;
  width: 40px;
}

#section5 .bottomleft {
  position: absolute;
  z-index: 10;
  left: 30px;
  bottom: 30px;
  width: 40px;
}

#section5 .bottomright {
  position: absolute;
  z-index: 10;
  right: 30px;
  bottom: 30px;
  width: 40px;
}

#section5 h1, #section5 h2, #section5 h3 {
  color: #fff;
}

#section5 .advatages {
  margin: 40px 100px;
}

#section5 .advatages td {
  border: none;
  color: #fff;
  vertical-align: middle;
  font-size: 20px;
}

#section5 .advatages td img {
  width: 60px;
}

#section5 .booking {
  font-weight: 600;
  font-size: 20px;
  color: #fff
}

#section6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#section6 .static-img {
  width: 150px;
}

#section6 .static-text {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

.carousel-nav-container {
  position: absolute;
  z-index: 10;
}

.carousel-nav-container .glyphicon-chevron-left {
  left: 10px;
}

.carousel-nav-container .glyphicon-chevron-right {
  right: 10px;
}

#section7 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, #0fda9a, #7d4397 99%);
}

#section7 h1, #section7 h2, #section7 h3 {
  color: #fff;
}

#section7 .our-clients-container img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#section7 .our-clients-container .name {
  display: block;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}

#section7 .our-clients-container .prof {
  display: block;
  color: #fff;
  font-size: 18px;
}

#section8 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#section8 {
  table td {
    border: none;
    vertical-align: middle;
  }
  .feedback-photo-container {
    width: 33%;
  }
}

#section8 .feedback-photo {
  width: 100%;
  border-radius: 100%;
}

#section8 .feedback-text {
  font-size: 30px;
  line-height: 35px;
}

#section8 .feedback-name {
  font-size: 35px;
  color: #92278f;
}

#section8 .repair-photo img {
  width: 80%;
}

#section9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, #7d4397, #db2431);
}

#section9 h1, #section9 h2, #section9 h3 {
  color: #fff;
}

#section9 {
  .about {
    font-size: 20px;
    color: #fff;
  }
  .ceo-photo {
    border-radius: 100%;
    width: 50%;
    object-fit: cover;
  }
  .name {
    display: block;
    color: #fff;
    font-size: 26px;
  }
}

#map {
  height: 550px;
}

.restaurants-container {
  a:hover {
    text-decoration: none;
  }
  .restaurant-name {
    color: #9C7D23;
    font-size: 1.1em;
    b {
      font-size: 1.3em;
    }
  }
  .our-partners {
    margin-top: 90px;
    color: #000;
    font-size: 1.4em;
  }
  .partners-offer {
    color: #000;
    font-size: 1.3em;
    margin-top: 10px;
  }
}

.stars {
  margin-bottom: 10px;
  img {
    width: 30px;
  }
}

footer table td {
  color: #fff;
}

footer .navbar table td {
  font-size: 20px;
  padding-left: 25px;
}

footer .navbar table td small {
  font-weight: normal !important;
}

footer .navbar table td img {
  margin-right: 10px;
}

footer .navbar-default {
  background-image: linear-gradient(to right, #0fd99a, #7d4497);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .nav li a > img {
  width: 50px;
}

.owl-carousel {
  position: relative;
  .owl-prev {
    position: absolute;
    top: 35%;
    left: -90px;
    background: transparent !important;
    .glyphicon {
      color: #92278f;
      font-size: 50px;
    }
  }
  .owl-next {
    position: absolute;
    top: 35%;
    right: -90px;
    background: transparent !important;
    .glyphicon {
      color: #92278f;
      font-size: 50px;
    }
  }
}

#owl-carousel1 {
  img {
    height: 250px;
    object-fit: cover;
  }
}

.user-content-window {
  h4 {
    color: #000 !important;
  }
  .user-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

#subscribeModal {
  img {
    width: 50px;
  }
}

#partnershipModal {
  .modal-content {
    background-image: linear-gradient(to right, #7d4397, #db2431) !important;
    h3, h4 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 1.1em;
    }
  }
}


@media only screen and (max-width: $screen-sm-min) {

.margin-t-10 {
  margin-top: 5px;
}

.margin-t-20 {
  margin-top: 10px;
}

.margin-t-30 {
  margin-top: 15px;
}

.margin-t-40 {
  margin-top: 20px;
}

.margin-t-50 {
  margin-top: 25px;
}

.margin-b-10 {
  margin-bottom: 5px;
}

.margin-b-20 {
  margin-bottom: 10px;
}

.margin-b-30 {
  margin-bottom: 15px;
}

.margin-b-40 {
  margin-bottom: 20px;
}

.margin-b-50 {
  margin-bottom: 25px;
}

.margin-v-10 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-v-20 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-30 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-v-40 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-v-50 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.padding-t-10 {
  padding-top: 5px;
}

.padding-t-20 {
  padding-top: 10px;
}

.padding-t-30 {
  padding-top: 15px;
}

.padding-h-30 {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-h-40 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-50 {
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 25px;
}

.carousel-content {
  form div {
    text-align: center !important;
  }
}

#section2 {
  .first-level > .nav > li {
    width: 50%;
    a {
      border-radius: 0 !important;
    }
  }
  .second-level {
    li {
      width: 33%;
    }
    a, a:hover, a:focus, li.active > a {
      border: none !important;
    }
  }
}

#section2 .first-level > .nav-tabs>li>a, #section2 .first-level > .nav-tabs>li>a:focus, #section2 .first-level > .nav-tabs>li>a:hover {
  min-width: 0;
  font-size: 14px;
}

#section4 {
  .brand-text {
    font-size: 18px;
  }
  .timer-container {
    text-align: center;
    margin-left: 0;
    min-width: 0;
    .timer-inner {
      padding: 5px 8px;
    }
    #timer {
      font-size: 35px;
    }
  }
}

#section5 {
  .advatages {
    margin: 0;
    td {
      font-size: 15px;
      img {
        width: 60px;
      }
    }
  }
}

#section8 {
  .feedback-photo-container {
    width: 25%;
  }
}

#section8 .feedback-text {
  font-size: 15px;
  line-height: 15px;
}

#section8 .feedback-name {
  font-size: 17px;
}

footer .navbar table td {
  font-size: 14px;
  padding-left: 10px;
}

footer .navbar table td img {
  margin-right: 5px;
}

footer .nav li a > img {
  width: 20px;
}

footer {
  .nav > li {
    display: inline-block;
  }
}

.custom-input {
  width: 100% !important;
}

.btn {
  font-size: 16px;
  min-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-sm {
  font-size: 12px !important;
  height: 35px !important;
  border-radius: 20px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-width: 0 !important;
}

.user-content-window {
  .stars img {
    width: 15px;
  }
}

.restaurants-placeholder {
  height: 280px;
}

.restaurants-container {
  .our-partners {
    margin-top: 20px;
    color: #000;
    font-size: 1.2em;
  }
}

}
