<!DOCTYPE html>
<html>
  <head>
    <title>Imolodca</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" id="myviewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="<%= asset_url 'imolodca_logo-01-og.png' %>" />
    <title>Ай, молодца!</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <script>
        new Noty({
          text: '<%= j value %>',
          type: '<%= key %>',
          layout: 'top',
          timeout: 3000
        }).show();
      </script>
    <% end %>

    <%= render 'shared/header' %>

    <%= yield %>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>
  </body>
</html>
